{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", ".babelrc", ".prettierrc", ".stylelintrc", ".eslintrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}