@use '../settings' as setting;
@use '../tools' as tool;

.o-box {
  padding: setting.spaces(base);
  outline: 1px transparent;
  outline-offset: -1px;
  &\:sidebar {
    margin-right: -1rem;
    &:not(:last-of-type) {
      border-bottom: solid 1px var(--c-border);
    }
  }
  &\:news {
    margin-bottom: setting.spaces(base);
    padding: setting.spaces(base);
    background: var(--c-overlay);
  }
  &\:redume {
    margin-bottom: setting.spaces(base);
    padding: setting.spaces(base) setting.spaces(base) 0 setting.spaces(base);
    background: var(--c-overlay);
    border: solid 1px var(--c-separator);
  }
  &\:bottom-author {
    border: solid 1px var(--c-separator);
    background: var(--c-overlay);
  }
}
